{
    "openapi": "3.0.1",
    "info": {
        "title": "Nexo API",
        "version": "1.1.3",
        "description": "API para las aplicaciones de Nexo"
    },
    "securityDefinitions": {
        "auth": {
            "type": "basic"
        }
    },
    "security": [
        {
            "bearerAuth": [],
            "auth": []
        }
    ],
    "servers": [
        {
            "url": "https://api.betapos.com.do"
        },
        {
            "url": "https://api.nexo.com.do"
        },
        {
            "url": "http://localhost:4012"
        }
    ],
    "components": {
        "schemas": {
            "Employee": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "businessId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "clientId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "firstName": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "photoUrl": {
                        "type": "string",
                        "format": "url"
                    },
                    "dui": {
                        "type": "string",
                        "example": "40258622581"
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "address": {
                        "type": "string",
                        "nullable": true
                    },
                    "phone": {
                        "type": "string",
                        "nullable": true,
                        "example": "8094561212"
                    },
                    "position": {
                        "type": "string",
                        "example": "Gerente"
                    },
                    "startDate": {
                        "type": "string",
                        "example": "2022-05-01"
                    },
                    "salary": {
                        "type": "number"
                    },
                    "bankId": {
                        "type": "number",
                        "nullable": true
                    },
                    "bankAccount": {
                        "type": "string",
                        "nullable": true
                    },
                    "isActive": {
                        "type": "boolean"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "deletedAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "Table": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "businessId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "name": {
                        "type": "string"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "Bank": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "name": {
                        "type": "string"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "Bill": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "businessId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "orderNumber": {
                        "type": "string"
                    },
                    "stripePayUrl": {
                        "type": "string",
                        "format": "url",
                        "nullable": true
                    },
                    "invoicePdfUrl": {
                        "type": "string",
                        "format": "url",
                        "nullable": true
                    },
                    "receiptPdfUrl": {
                        "type": "string",
                        "format": "url",
                        "nullable": true
                    },
                    "transferVoucherUrl": {
                        "type": "string",
                        "format": "url",
                        "nullable": true
                    },
                    "amount": {
                        "type": "number",
                        "format": "double"
                    },
                    "description": {
                        "type": "string"
                    },
                    "payed": {
                        "type": "boolean"
                    },
                    "payedAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "Brand": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "businessId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "name": {
                        "type": "string"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "NcfType": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "enum": [
                            "01",
                            "02",
                            "03",
                            "04",
                            "11",
                            "12",
                            "13",
                            "14",
                            "15",
                            "16",
                            "17",
                            "31",
                            "32",
                            "33",
                            "34",
                            "41",
                            "43",
                            "44",
                            "45",
                            "46",
                            "47"
                        ]
                    },
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    }
                }
            },
            "NcfAvailability": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "businessId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "typeId": {
                        "type": "string"
                    },
                    "startOn": {
                        "type": "number"
                    },
                    "stopOn": {
                        "type": "number"
                    },
                    "expireAt": {
                        "type": "string",
                        "format": "date"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "User": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "firstName": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "birthDate": {
                        "type": "string",
                        "format": "date",
                        "nullable": true
                    },
                    "email": {
                        "type": "string",
                        "nullable": true
                    },
                    "nickName": {
                        "type": "string",
                        "nullable": true
                    },
                    "password": {
                        "type": "string"
                    },
                    "dui": {
                        "type": "string",
                        "nullable": true
                    },
                    "gender": {
                        "enum": [
                            "M",
                            "F",
                            "O"
                        ]
                    },
                    "photoUrl": {
                        "type": "string",
                        "format": "url"
                    },
                    "roleId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "businessId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "partnerCode": {
                        "type": "string",
                        "nullable": true
                    },
                    "tokenSecret": {
                        "type": "string",
                        "nullable": true
                    },
                    "isActive": {
                        "type": "boolean"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "deletedAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            }
        }
    },
    "paths": {
        "/auth/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Iniciar sesion",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "description": "Correo electronico o nickname",
                                        "required": true,
                                        "example": "miemail@local.com",
                                        "type": "string"
                                    },
                                    "password": {
                                        "description": "Contraseña",
                                        "example": "super-stron*pass_2",
                                        "required": true,
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "description": "Bearer Token",
                                            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Mensaje de respuesta del servidor",
                                            "example": "Sesion iniciada correctamente"
                                        },
                                        "user": {
                                            "type": "object",
                                            "description": "Objeto con los datos del usuario logeado",
                                            "properties": {
                                                "firstName": {
                                                    "type": "string",
                                                    "description": "Nombres",
                                                    "example": "Juan Alberto"
                                                },
                                                "lastName": {
                                                    "type": "string",
                                                    "description": "Apellidos",
                                                    "example": "Ruiz"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "description": "Correo Electronico",
                                                    "example": "miemail@local.com"
                                                },
                                                "roleId": {
                                                    "type": "string",
                                                    "description": "Id del rol del usuario",
                                                    "example": "45fe6ce9-d851-4f3d-8cc5-4c96b9f527bc"
                                                },
                                                "id": {
                                                    "type": "string",
                                                    "description": "Id del usuario",
                                                    "example": "7db3422d-3f8b-4138-a4f8-2297d6fb0ea9"
                                                },
                                                "businessId": {
                                                    "type": "string",
                                                    "description": "Id de la empresa a la que pertenece el usuario (si aplica)",
                                                    "example": "2c688872-1fd6-48e2-8dd0-ee490e8b1b48"
                                                },
                                                "photoUrl": {
                                                    "type": "string",
                                                    "description": "URL de la foto del usuario",
                                                    "example": "https://dl.memuplay.com/new_market/img/com.vicman.newprofilepic.icon.2022-06-07-21-33-07.png"
                                                },
                                                "roleCode": {
                                                    "type": "string",
                                                    "description": "Codigo que indica el rol del usuario",
                                                    "example": "BIOWNER"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Email o Contraseña incorrecta"
                    },
                    "500": {
                        "description": "Error del servidor"
                    }
                }
            }
        },
        "/auth/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Cierra sesion",
                "security": {
                    "type": "http",
                    "scheme": "bearer",
                    "bearerFormat": "JWT"
                },
                "responses": {
                    "204": {
                        "description": "OK"
                    },
                    "500": {
                        "description": "Error del servidor"
                    }
                }
            }
        },
        "/auth/change-password": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Cambia la contraseña del usuario logueado",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "oldPassword": {
                                        "description": "Contraseña vieja",
                                        "required": true,
                                        "type": "string",
                                        "example": "current-password"
                                    },
                                    "newPassword": {
                                        "description": "Contraseña nueva",
                                        "required": true,
                                        "type": "string",
                                        "example": "new-password"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": {
                    "type": "http",
                    "scheme": "bearer",
                    "bearerFormat": "JWT"
                },
                "responses": {
                    "204": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Contraseña incorrecta."
                    },
                    "500": {
                        "description": "Error del servidor"
                    }
                }
            }
        },
        "/auth/current-session": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Obtiene los datos de la sesion",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "session": {
                                            "type": "object",
                                            "description": "Sesion actual",
                                            "properties": {
                                                "loggedin": {
                                                    "type": "boolean",
                                                    "description": "Indica si hay una sesion iniciada"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "descriptin": "Nombre del usuario logueado",
                                                    "example": "Jhon Doe"
                                                },
                                                "photo": {
                                                    "type": "string",
                                                    "description": "Url de la foto del usuario logueado",
                                                    "example": "https://dl.memuplay.com/new_market/img/com.vicman.newprofilepic.icon.2022-06-07-21-33-07.png"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "description": "Correo electronico del usuario logueado",
                                                    "example": "jdoe@local.com"
                                                },
                                                "roleId": {
                                                    "type": "string",
                                                    "description": "Id del rol del usuario",
                                                    "example": "93aa8def-1eae-4c84-956b-ed19051b7b68"
                                                },
                                                "roleCode": {
                                                    "type": "string",
                                                    "description": "Codigo del rol del usuario",
                                                    "example": "ADMIN"
                                                },
                                                "businessId": {
                                                    "type": "string",
                                                    "description": "Id de la empresa a la que pertenece el usuario",
                                                    "example": "93aa8def-1eae-4c84-956b-ed19051b7b68"
                                                },
                                                "merchantId": {
                                                    "type": "string",
                                                    "description": "Merchant ID de la empresa a la que pertenece el usuario",
                                                    "example": "AA0000"
                                                },
                                                "userId": {
                                                    "type": "string",
                                                    "description": "Id del usuario",
                                                    "example": "93aa8def-1eae-4c84-956b-ed19051b7b68"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/banks": {
            "get": {
                "tags": [
                    "Bancos"
                ],
                "summary": "Obtiene la lista de bancos",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Bank"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Mensaje explicando que pasó",
                                            "example": "Ninguna sesion iniciada"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/billing": {
            "get": {
                "tags": [
                    "Facturas"
                ],
                "summary": "Lista todas las facturas, en funcion del rol del usuario, solo mostrara las facturas que tiene permitido ver",
                "security": {
                    "type": "http",
                    "scheme": "bearer",
                    "bearerFormat": "JWT"
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Bill"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Mensaje explicando que pasó",
                                            "example": "Ninguna sesion iniciada"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error del servidor"
                    }
                }
            }
        },
        "/brands": {
            "get": {
                "summary": "Obtiene la lista con todas las marcas",
                "tags": [
                    "Marcas"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Brand"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    }
                }
            },
            "post": {
                "summary": "Crea una nueva marca",
                "tags": [
                    "Marcas"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "name",
                        "description": "Nombre de la marca",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Marca creada"
                    },
                    "400": {
                        "description": "Nombre duplicado"
                    },
                    "401": {
                        "description": "No autenticado"
                    }
                }
            },
            "delete": {
                "summary": "Elimina una marca",
                "tags": [
                    "Marcas"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "Id de la marca a eliminar",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Marca elimnada"
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "404": {
                        "description": "Marca no puede ser eliminada porque esta en uso"
                    }
                }
            },
            "put": {
                "summary": "Modifica una marca existente",
                "tags": [
                    "Marcas"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "id",
                        "description": "Id de la marca a modificar",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "body",
                        "name": "name",
                        "description": "Nuevo nombre de la marca",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Marca elimnada"
                    },
                    "400": {
                        "description": "Marca no puede ser eliminada porque esta en uso"
                    },
                    "401": {
                        "description": "No autenticado"
                    }
                }
            }
        },
        "/employees": {
            "get": {
                "tags": [
                    "Empleados"
                ],
                "summary": "Obtiene la lista de empleados de la empresa a la que pertenece el usuario logueado",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Employee"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Mensaje explicando que pasó",
                                            "example": "Ninguna sesion iniciada"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ncf/types": {
            "get": {
                "tags": [
                    "NCF"
                ],
                "summary": "Listar tipos de comprobantes fiscales",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/NcfType"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Sesion no iniciada o token invalido"
                    },
                    "500": {
                        "description": "Error del servidor"
                    }
                }
            }
        },
        "/ncf/availability": {
            "get": {
                "tags": [
                    "NCF"
                ],
                "summary": "Listar disponibilidad de comprobantes fiscales",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/NcfAvailability"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Sesion no iniciada o token invalido"
                    },
                    "500": {
                        "description": "Error del servidor"
                    }
                }
            },
            "post": {
                "tags": [
                    "NCF"
                ],
                "summary": "Modifica la disponibilidad de comprobantes fiscales",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "typeId": {
                                        "description": "Tipo de compronante fiscal",
                                        "required": true,
                                        "example": 31,
                                        "type": "string"
                                    },
                                    "startOn": {
                                        "description": "Primera numeracion disponible",
                                        "example": 2456,
                                        "required": true,
                                        "type": "number"
                                    },
                                    "stopOn": {
                                        "description": "Ultima numeracion disponible",
                                        "example": 3000,
                                        "required": true,
                                        "type": "number"
                                    },
                                    "expireAt": {
                                        "description": "Fecha de expiracion de secuencia",
                                        "example": "2026-12-31",
                                        "required": true,
                                        "type": "string"
                                    },
                                    "id": {
                                        "description": "Id de la disponibilidad de el tipo de comprobante",
                                        "format": "uuid",
                                        "required": false,
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Sesion no iniciada o token invalido"
                    },
                    "500": {
                        "description": "Error del servidor"
                    }
                }
            }
        },
        "/ncf/next-ncf-number": {
            "post": {
                "tags": [
                    "NCF"
                ],
                "summary": "Obtiene el proximo numero de comprobante fiscal",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "typeId": {
                                        "description": "Tipo de comprobante fiscal",
                                        "required": true,
                                        "example": 31,
                                        "type": "string"
                                    },
                                    "lastNcf": {
                                        "description": "Ultimo comprobanet utilizado en el dispositivo que solicita",
                                        "example": 2456,
                                        "required": true,
                                        "type": "number"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ncfNumber": {
                                            "type": "number"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Falta el header `merchantId` o es invalido - El cliente no cuenta con comprobantes disponibles o estan expirados - Comprobantes fiscales inactivos"
                    },
                    "500": {
                        "description": "Error del servidor"
                    }
                }
            }
        },
        "/tables": {
            "get": {
                "tags": [
                    "Mesas"
                ],
                "summary": "Lista todas las mesas de un establecimiento",
                "security": {
                    "type": "http",
                    "scheme": "bearer",
                    "bearerFormat": "JWT"
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "example": "16d4e02a-3cdc-4212-be80-5873763a5165"
                                            },
                                            "businessId": {
                                                "type": "string",
                                                "example": "16d4e02a-3cdc-4212-be80-5873763a5165"
                                            },
                                            "orderNumber": {
                                                "type": "string",
                                                "example": "00000015"
                                            },
                                            "uepaPayOrderNumber": {
                                                "type": "string",
                                                "example": 4074108
                                            },
                                            "uepaPayLink": {
                                                "type": "string",
                                                "example": "https://uepapay.com/pl.aspx?pl=4972BE1"
                                            },
                                            "transferVoucherUrl": {
                                                "type": "string",
                                                "example": "https://i.ibb.co/bBvpMSG/Transferencia-pai.png"
                                            },
                                            "amount": {
                                                "type": "number",
                                                "example": 1000
                                            },
                                            "description": {
                                                "type": "string",
                                                "example": "Pago por uso Nexo Junio 2022"
                                            },
                                            "payed": {
                                                "type": "boolean",
                                                "example": true
                                            },
                                            "payedAt": {
                                                "type": "string",
                                                "example": "2022-06-28 11:34:00"
                                            },
                                            "createdAt": {
                                                "type": "string",
                                                "example": "2022-06-28 08:00:00"
                                            },
                                            "updatedAt": {
                                                "type": "string",
                                                "example": "2022-06-28 16:12:00"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Mensaje explicando que pasó",
                                            "example": "Ninguna sesion iniciada"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error del servidor"
                    }
                }
            }
        },
        "/users": {
            "get": {
                "tags": [
                    "Usuarios"
                ],
                "summary": "Obtiene la lista con todos los usuarios",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/User"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autentucado"
                    }
                }
            },
            "post": {
                "tags": [
                    "Usuarios"
                ],
                "summary": "Crea un nuevo usuario",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "firstName": {
                                        "type": "string",
                                        "description": "Nombres del usuario",
                                        "required": true
                                    },
                                    "lastName": {
                                        "type": "string",
                                        "description": "Apellidos del usuario",
                                        "required": true
                                    },
                                    "email": {
                                        "type": "string",
                                        "description": "Email del usuario",
                                        "required": true,
                                        "format": "email"
                                    },
                                    "birthDate": {
                                        "type": "string",
                                        "description": "Fecha de nacimiento del usuario",
                                        "required": false,
                                        "format": "date"
                                    },
                                    "nickName": {
                                        "type": "string",
                                        "description": "Nickname del usuario",
                                        "required": false
                                    },
                                    "password": {
                                        "type": "string",
                                        "description": "Contraseña del usuario",
                                        "required": true
                                    },
                                    "dui": {
                                        "type": "string",
                                        "description": "Cédula del usuario",
                                        "required": false,
                                        "example": "402-4719912-2"
                                    },
                                    "photoUrl": {
                                        "type": "string",
                                        "description": "Url de la foto del usuario",
                                        "required": false,
                                        "format": "url"
                                    },
                                    "roleId": {
                                        "type": "string",
                                        "description": "ID del rol asignado",
                                        "required": true,
                                        "format": "uuid"
                                    },
                                    "businessId": {
                                        "type": "string",
                                        "description": "ID de la empresa a la que pertenece el usuario",
                                        "required": false,
                                        "format": "uuid"
                                    },
                                    "isActive": {
                                        "type": "boolean",
                                        "description": "Estado del usuario",
                                        "required": true
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Usuario creado con exito",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": "Id del usuario",
                                            "format": "uuid"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "tags": [
        {
            "name": "Auth"
        },
        {
            "name": "Bancos"
        },
        {
            "name": "Facturas"
        },
        {
            "name": "Marcas"
        },
        {
            "name": "Empleados"
        },
        {
            "name": "NCF"
        },
        {
            "name": "Mesas"
        },
        {
            "name": "Usuarios"
        }
    ]
}